@media screen and (max-width: 1200px) {
  .carousel-caption h3 {
    font-size: 20px;
  }
  .carousel-caption p {
    font-size: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .landing-txt h1 {
    font-size: 50px;
    text-align: center;
  }
  .landing-txt p {
    font-size: 20px;
    text-align: center;
  }

  .back-top-arrow {
    padding-bottom: 50px;
    margin-right: 46%;
  }
  .carousel-p {
    display: none;
  }
  #glacier {
    font-size: 10px;
  }
}
